#issue-item-holder {
  display: flex;

  #icon {
    vertical-align: middle;

    #opened-issue-icon {
      color: #28a745;
    }

    #closed-issue-icon {
      color: #cb2431;
    }
  }

  #issue-body {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    flex-basis: 100%;

    #title {
      font-weight: 600;
      font-size: 14px;
    }

    #information {
      display: flex;
      flex-flow: row;
      color: #666;
      font-size: 12px;
    }

    #comment {
      margin-left: auto;
      font-weight: 600;
    }
  }
}
